<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket.IO Chat Example</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <div class = "input_area">
        <input class="inputMessage" placeholder="Type here..."/>
          <form>
            <div id = 'img_wrapper'>
                <label for='file-upload'>
                  <img id = 'myBtn' src = '/camera.png'/>
                </label>
            </div>
            <button id = 'submit_button' type='submit' value='submit'></button>
            <label for = 'submit_button'>
                <img id = 'arrow' src='/arrow.png' />
            </label>
          </form>
          <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <!--<p>Some text in the Modal..</p>-->
                  <!--<h3>Demo: Take a Selfie With JavaScript</h3>-->                
                  <div class="container">
                  
                    <div class="camera">
                      <video id="video" autoplay>Video stream not available.</video>
                      <div class = "center">
                        <button id="startbutton">Take photo</button>
                      </div>
                    </div>
                    <canvas id="canvas">
                    </canvas>
                    <!--<div class="output"></div>
                      <img id="photo" alt="The screen capture will appear in this box.">
                    </div> -->
                  </div>
          
            </div>
          </div>
      </div>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your name?</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/functest.js"></script>
  <script src="/script.js"></script>    
  <script>
    document.getElementById("submit_button").addEventListener("click", function(event){
        event.preventDefault()
    });
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>
</body>
</html>